*{
    box-sizing: border-box;
}
.header-container{
    width: 1400px;
    margin: 0 auto;
    
}
body{
    background-color: gray;
    margin: 50px 50px 50px ;
}
.genre{
    display: inline-block;
    
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sep::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 39px;
    background-color: white;

}
.sep::after{
    content: "";
    display: inline-block;
    width: 3px;
    height: 39px;
    background-color: white;

}

